{{define "content"}}

<h2>
    Yeni Post Ekle
    <a href="/admin" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i>  Geri Dön </a>
</h2>
    <hr>
    <form action="/admin/add" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Blog Başlığı</label>
            <input type="text" class="form-control" id="title" name="blog-title" required>
        </div>
        <div class="form-group">
            <label for="content">Blog Açıklaması</label>
            <textarea class="form-control" id="content" name="blog-desc" rows="2" required></textarea>
        </div>

        <div class="form-group">
            <label for="category">Kategori</label>
            <select class="form-control" id="category" name="blog-category" required>
                <option value="1">Teknoloji</option>
                <option value="2">Spor</option>
                <option value="3">Eğitim</option>
                <option value="4">Sağlık</option>
                <option value="5">Güncel</option>
            </select>
        </div>

        <div class="form-group">
            <label for="image">Blog Resmi</label>
            <input type="file" class="form-control-file" id="image" name="blog-picture" required>
        </div>
        <div class="form-group">
            <label for="content">Blog İçeriği</label>
            <textarea class="form-control" id="summernote" name="blog-content" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-success w-100 my-3">Kaydet</button>
    </form>




{{end}}